@media screen and (max-width: 1000px) {
    div.cont {
        margin-top: 10px;
        margin-left: 5%;
        float: none;
        font-size: 1.3em;
    }

    input {
        float: left;
        margin-right: 10px;
    }

    div.elem-cont {
        margin-bottom: 0px;
        float: top;
        width: 100%;
    }

    div.profit {
        text-align: center;
        float: left;
        width: 45%;
    }

    div.profit-percent-cont {
        font-size: 2em;
        position: absolute;
        top: calc(100% - 40px);
        left: calc(100% - 3em);
    }

    input.field[type="text"] {
        width: 45%;
        font-size: 1.3em;
    }

    input[type="radio"] {
        float: left;
        display: inline;
        border: 0px;
        width: 10%;
        height: 2em;
    }
    
    input[type="checkbox"] {
        float: left;
        display: inline;
        border: 0px;
        width: 10%;
        height: 2em;
    }

    #auto-label {
        visibility: hidden;
    }

    button.copy-button {
        visibility: hidden;
    }
}