body {
    font-family: 'Comfortaa';
    font-size: 20px;
    height: 100%;
    background: linear-gradient(45deg, #FFFDFD, #FDFDFF) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.profit-percent-cont {
    font-size: 20pt;
    font-weight: bold;
    position: absolute;
    margin-top: 12%;
    margin-left: 45%;
}

div.cont {
    font-size: 16pt;
    margin-top: 6%;
    margin-left: 20%;
    float: none;
}

input[type="radio"] {
    display: inline;
    margin-bottom: 35px;

    border: 0px;
    width: 100%;
    height: 2em;
}

input.field[type="text"] {
    font-family: 'Comfortaa';
    text-align: right;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 120px;
}

div.label {
    text-align: center;
}

div.coef-cont {
    float: left;
    margin-right: 130px;
}

input.coef {

}

div.bet-cont {
    float: left;
    margin-right: 130px;
}

input.bet {

}

div.profit-cont {
    float: left;
    margin-right: 130px;
}

div.fix-cont {
    float: left;
}

div.profit {
    height: 30px;
    vertical-align: bottom;
    text-align: right;
    line-height: 45px;
}
