body {
    font-family: 'Comfortaa';
    font-size: 20px;
}

div.cont {
    font-size: 16pt;
    margin-top: 5%;
    margin-left: 20%;
}

input[type="text"] {
    font-family: 'Comfortaa';
    text-align: right;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 120px;
}

div.label {
    text-align: center;
}

div.coef-cont {
    float: left;
    margin-right: 130px;
}

input.coef {

}

div.bet-cont {
    float: left;
    margin-right: 130px;
}

input.bet {

}

div.profit-cont {
    float: left;
}

div.profit {
    height: 30px;
    vertical-align: bottom;
    text-align: right;
    line-height: 45px;
}
